{% extends 'base.html.twig' %}

{% block title %}Редактировать{% endblock %}

{% block body %}
    <h1>Редактировать пост</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Редактировать</button>

    {{ form_end(form) }}

    <p><a href="http://127.0.0.1:8000/">Главная</a></p>
{% endblock %}