{% extends 'base.html.twig' %}

{% block title %}Создать пост{% endblock %}

{% block body %}
    <h1>Создать пост</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Добавить</button>

    {{ form_end(form) }}
{% endblock %}
